.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    z-index: 1;
}

.content h2 {
    font-size: 5em;
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

.content :is(h2) span {
    font-weight: 700;
}

.btn {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.25rem;
    transition: 0.25s;
}

.btn span {
    display: none;
    transition: display 0.9s;
}

.btn:hover span {
    display: inline;
    font-size: 1.5rem;
    transition: 0.25s;
    animation: move 0.9s linear;
}

.btn:hover {
    letter-spacing: 4px;
}

.content .bike {
    max-width: 80%;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20);
    }
}

@media (max-width: 1018px) {
    .bike {
        max-width: 100%;
    }
}

@media (main-width:320px) {
    .content h2 {
        font-size: 3em;
    }
}