.slider .slides {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    cursor: pointer;
}